/***** Menu and logo for responsive *****/

@media (min-width: 768px) and (max-width: 992px) {
	.wedding-logo{
		width: 100%;
	}

	.navbar-header {
		width: 25%;
	}
}


/***** Name image in homepage *****/

.name-image {
	position: relative;
    bottom: 15%;
}


/***** Arrows *****/

.arrows {
	width: 60px;
	height: 72px;
	position: absolute;
	left: 50%;
	margin-left: -30px;
	bottom: 20px;
}

.arrows path {
	stroke: #ffffff;
	fill: transparent;
	stroke-width: 3px;	
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {	
	animation-delay:0s;
	-webkit-animation-delay:0s; /* Safari 和 Chrome */
}

/***** Scroll *****/

/* width */
::-webkit-scrollbar {
	width: 12px;
	background-color: rgb(29, 31, 32);
}

/* Track */
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: rgb(29, 31, 32);
}

/* Handle */
::-webkit-scrollbar-thumb {
	border-radius: 3px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgb(123, 44, 191);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	border-radius: 3px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgb(193, 158, 224);
}

/***** Countdown *****/

.countdown {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.timer {
	font-family: 'Montserrat', sans-serif;
	color: white;
	position: relative;
	top: 22%;
}

.timer div {
	display: inline-block;
	width: 130px;
    height: 130px;
    border-radius: 4px;
    text-align: center;
    background: rgba(255, 255, 255, 0.25);
    border: 1px solid rgba(255, 255, 255, 1);
    box-shadow: 0 5px 50px -10px #000;
	font-size: 45px;
    font-weight: 700;
	margin: 15px;    
}

.timer div span {
	font-family: 'Montserrat', sans-serif;
	display: block;
	font-size: 25px;
	font-weight: 700;
}
  
@media screen and (max-width: 650px) {
	.timer div {
		width: 80px;
    	height: 80px;
		margin: 5px;   
		font-size: 27px;
	}

	.timer div span {
		font-size: 15px;
	}
}

@media screen and (max-width: 360px) {
	.timer div {
		width: 60px;
    	height: 60px;
		margin: 5px;   
		font-size: 20px;
	}

	.timer div span {
		font-size: 13px;
	}
}

@media screen and (max-height: 720px) {
	.timer {
		top: 25%;
	}

	.name-image {
		bottom: 10%;
	}
}

/* Google forms */ 

.musicForm {
	padding: 0;
	height: 500px;
}

.contestForm {
	padding: 0;
	height: 700px;
}

@media screen and (max-width: 1200px) {
	.musicForm {
		height: 700px;
	}
	
	.contestForm {
		height: 900px;
	}
}